/* Display Font */
@font-face {
  font-family: bricolage grotesque;
  font-style: normal;
  font-weight: 300;
  src: local('Bricolage Grotesque'),
    url('./assets/fonts/BricolageGrotesque-Light-BF648bd5789c27e.woff')
      format('woff');
}
@font-face {
  font-family: bricolage grotesque;
  font-style: normal;
  font-weight: 400;
  src: local('Bricolage Grotesque'),
    url('./assets/fonts/BricolageGrotesque-Medium-BF648bd57a1d6d2.woff')
      format('woff');
}

@font-face {
  font-family: bricolage grotesque;
  font-style: normal;
  font-weight: 500;
  src: local('Bricolage Grotesque'),
    url('./assets/fonts/BricolageGrotesque-Regular-BF648bd57899c78.woff')
      format('woff');
}

/* Sans Serif Font */
